<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>IWA Demo App</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/SecretEscapesStyles.css" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Secret Escapes</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h1 class="mt-5">Welcome to SECRET ESCAPES!</h1>
        <h2 class="mt-5">Ours is a world unlike any other,
        <p class="lead">Explore fantastics secret destinations in Europe!</p>
        <p class="lead">OUR COLLECTION:
      </div>
        <div id="results" class="col-lg-8 text-center order-3"></div>
        <div class="col-lg-4 text-center order-2">
            <form enctype="application/json" action="/post/json" method="post">
                <div class="form-group">
                    <select class="form-control" name="sec_n">
                        <option value="0">ADVENTURE</option>
                        <option value="1">BEACH HOLIDAYS</option>
                        <option value="2">FAMILY</option>
                        <option value="3">ROMANTIC</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="destination" placeholder="Destination">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="price"aa placeholder="Price">
                </div>
                 <div class="form-group">
                    <input class="form-control" type="number" name="day" placeholder="Day">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
  </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; 2019</span>
      </div>
    </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="jquery/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="jquery/table.js"></script>
</body>

</html>